.dropdown  {
        position: absolute;
        padding-left: 1em;
        background-color: black;
        flex-direction: column;
}

.dropdown a {
    color: white;
    list-style: none;
    margin: 1em 0 0 0;
                                                
}


.visible {
    transition: 0.5s;
    opacity: 1;
}

nav ul{
    display: flex;
    justify-content: flex-end;

}



ul {
    list-style:none;
}
.nav-item, .nav-item a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.nav-item {
    margin: 0 1em;
    
}


.d-none {
    display: none;
}

.d-block {
    display: block;
}

.thumbMenu {
    position: absolute;
    top: 0;
    width: 80%;
}



.project-list {
    position: absolute;
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 15px;
    justify-content: flex-end;
    right: 85px;
}
.project-list li:nth-child(1) {
    margin-top: 10px;
    color: red;
}

.project-list li {
    margin-bottom: 10px;
    text-align: initial;
    font-style: initial;
    font-weight: 400;
}

.project-list li:hover, .nav-item:hover {
    font-weight: 600;
}

li:last-child() {
    margin-bottom: 15px;
}


.active {
    padding: 0.5em;
}
.portfolio {
    cursor: default;
    width: 100%;
    text-align: right;
}



.portfolio img {
    width: 5%;
}


span > span {
    transform: rotate(90deg);
    display: inline-block;
    font-size: 35px;
}



