.container-loop {
    width: 100%;
    position: relative;
    height: 100vh;
    z-index: 0;
}


video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-item {
    color: black;
    z-index: 2;
    width: 100vw;
    height: 50%;
}

.d-none {
    display: none;
}

.container-loop h2 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 30px;
    }

