
.d-none {
    display: none;
}

.hero-header iframe {
    scale: 1.2;
}




.container-loop h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 30px;
}



/*Pour garder le ratio largeur/hauteur de mon iframe fullscreen*/
@media screen and (min-width: 2200px) {
    .hero-header iframe {
        scale: 1.6;
    }
}

@media screen and (max-width: 1450px) {
    .hero-header iframe {
            scale: 1.6;
        }
}

@media screen and (max-height: 850px) {
    .hero-header iframe {
        scale: 1.5;
    }
}
















