

.hero-header {
    position: relative;
    overflow-y: hidden;
}

.hero-header h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 25px;
}

.video-item {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 15vh;
    align-items: center;
}

.video-item img {
    width: 8%;
    margin: 0.5em;
    height: auto;
    cursor: pointer;
    opacity: 0.5;
}

.video-item img:hover {
    transition: 0.5s;
    opacity: 1;
}

.start {
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
}



