body {
  margin: 0;
  /* font-family: 'Inter Tight', sans-serif; */
  /* font-family: 'Manrope', sans-serif; */
  /* font-family: 'Mulish', sans-serif; */
  /* font-family: 'Questrial', sans-serif; */
  font-family: 'Work Sans', sans-serif; 

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
